<header>
    <div class="navbar bg-primary shadow-sm">
       <div class="navbar-brand align-item-center d-flex">
        <i class="fas fa-shipping-fast icon">&nbsp;
        </i>
        <h1 class="title">Homicorp</h1>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search products">
        </div>
        <span class="fas fa-search search-icon"></span>
       </div> 
       <button class="btn btn-primary cart-icon" (click)="showCart()">
        <i class="fas fa-cart-plus"></i>
        <div class="badge bg-danger">0</div>
       </button>
    </div>
</header>







<!-- <div *ngIf="showCar">
    <app-cart></app-cart>
</div> -->