<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container">
      <h1> Login </h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            class="form-control"
            id="username"
            formControlName="username"
          />
          <div
            *ngIf="
              loginForm.get('username')?.invalid &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
            "
          >
            <div
              class="errors"
              *ngIf="loginForm.get('username')?.errors?.['required']"
            >
              Username is required.
            </div>
            <div
              class="errors"
              *ngIf="loginForm.get('username')?.errors?.['minlength']"
            >
              Username must be at least 3 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            type="password"
            formControlName="password"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            <div
              class="errors"
              *ngIf="loginForm.get('password')?.errors?.['required']"
            >
              Password is required.
            </div>
            <div
              class="errors"
              *ngIf="loginForm.get('password')?.errors?.['minlength']"
            >
              
            </div>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>

      <div class="links">
        <div class="forgot">
          <p><a routerLink="/forgot">Forgot Password</a></p>
        </div>
        <a routerLink="/signup">Sign Up</a>
      </div>
      <div class="redirectR">
        <p>
          Don't have an account?<br />
          <a routerLink="/signup">Register Here</a>
        </p>
      </div>
    </div>
  </body>
</html>
