<section>
  <div class="container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']"> Email must be a valid email address </div>
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
        <div class="redirectR">
          <p>
            Remembered your password?<br/>
            <a routerLink="/login">Login Here</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
