
body{
  /* background-color: rgb(149, 251, 251);
   */
   background-color: rgb(77, 161, 161);
   background-repeat: no-repeat;
   background-size: cover;
   height:700px;
   padding-top: 40px;
   /* background-image: url('https://t3.ftcdn.net/jpg/01/35/31/90/360_F_135319014_6wUC4QfuPMeVT0m4Dm6cMVYBOweeRJKO.jpg'); */
}
  section {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-image: url('C:\Users\91970\Desktop\tree-3358468_1280.jpg');
  background-size: cover; */
  background-position: center ;
}
.container{
  /* background: transparent; */
  opacity: 0.9;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(.10px);
  -webkit-backdrop-filter: blur(1000px);
  height: 80%;
  position: relative;
  width: 450px;
  height: 620px;
  margin: 0 auto;
  padding: 40px;
  background: transparent;
  border: 1.5px solid #f0e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0,0,0,0.6);
  background-repeat: no-repeat;
   background-size: cover;
   /* background-image: url('https://t3.ftcdn.net/jpg/01/35/31/90/360_F_135319014_6wUC4QfuPMeVT0m4Dm6cMVYBOweeRJKO.jpg'); */
}
.container h2 {
  font-size: 25px;
  color: #000000;
  /* text-align: center;
  margin-bottom: 20px; */
}
.from{
  width: 100%;
}
.from{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.form-group{
  width: 100%;
  margin-bottom: 5px;
}
.form-group button{
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-group label{
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 1px;
}
.form-group label{
  width: 100%;
  padding: 1px;
}
.form-control{
  width:300px;
  height: 30px;
  box-shadow: skyblue;
  /* box-sizing: border-box; */
}
.btn{
  width: 100%;
  padding: 5px;
  background-color: blue ;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background-color: #005ef6;
}
.redirectR{
  margin-top:  10px;
  text-align: center;
}
.redirectR a{
  color: #007bff;
  text-decoration: none;
}
.redirectR a:hover{
  text-decoration: underline;
}
.errors{
  color:red;
} 