<div class="home-container">

  <!-- Search Bar -->
  <!-- <div class="search-bar">
    <input type="text" placeholder="Search..."/>
    <button>Search</button>
  </div> -->
  
  <!-- Social Media Links -->
  <div class="social-media">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1f0FAa53sCbqH6G-XtS2jqs-wWCm0e0OxqA&usqp=CAU">
      <h2><a routerLink="/socialmedia">Social Media</a></h2>
  </div>
  
  <!-- Shopping Section -->
  <div class="shopping-section">
    <!-- <h2><a routerLink="/shopping">Shopping</a></h2> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9sNraFI1J3S2KbLCwlPs9BNAD7TPRp09q_fSWitDZtVprWETsi5rwHsfTADYsf5DWOc4&usqp=CAU">
    <!-- <h2><a routerLink="/shopping">Shopping</a></h2> -->
    <h2><a routerLink="/header">Shopping</a></h2>
    <!-- <h2><a routerLink="/products">Shopping</a></h2> -->
  </div>
</div>
